body {
  padding-left: 100px;
  padding-top: 50px;
  margin: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.insert{
  display: inline-block;
  background-color: blue;
  padding: 40px;
  margin-right: 10px;
}

.get{
  display: inline-block;
  background-color: #ad33bc;
  padding: 40px;
  margin-left: 20px;
}

.update{
  display: inline-block;
  background-color: cyan;
  padding: 40px;
  margin-left: 30px;
  margin-right: 5px;

}

.delete{
  display: inline-block;
  background-color: #caddee;
  padding: 40px;
  margin-left: 25px;
}
