doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My text
    p this a paragraph
    input(type='text').class-name#anyId
    - var condition = true
    if condition
      p it's ture
    - var anyArray = [1,3,3]
    each value in anyArray
      p= value
    block content
