
<h1> Opeation using mongoDb </h1>

<section class="insert">
  <h3> Insert </h3>

  <form action="/insert" method="post">

    <div>
      <label> Title </label>
      <br>
      <input type="text" name="title">

    </div>

    <div>
      <label> Content </label>
      <br>
      <input type="text" name="content">

    </div>

    <div>
      <label> Author </label>
      <br>
      <input type="text" name="author">

    </div>

    <button type="submit"> Insert </button>

  </form>

</section>



<section class="get">
  <h3> Insert </h3>

  <form action="/insert" method="post">

    <div>
      <label> Title </label>
      <br>
      <input type="text" name="title">

    </div>

    <div>
      <label> Content </label>
      <br>
      <input type="text" name="content">

    </div>

    <div>
      <label> Author </label>
      <br>
      <input type="text" name="author">

    </div>

    <button type="submit"> Insert </button>

  </form>

</section>
