
<h1> MongoDb exercise</h1>

<section class="insert">
  <h3> Insert </h3>

  <form action="/insert" method="post">

    <div>
      <label> Title </label>
      <br>
      <input type="text" name="title">

    </div>

    <div>
      <label> Content </label>
      <br>
      <input type="text" name="content">

    </div>

    <div>
      <label> Author </label>
      <br>
      <input type="text" name="author">

    </div>

    <button type="submit"> Insert </button>

  </form>

</section>



<section class="get">
  <h3> Get Data </h3>

  <a href="/get-data"> Load Data </a>

  <div>

    {{# each items}}

      <article>

        <div> Tittle: {{this.title}} </div>
        <div> Content: {{this.content}} </div>
        <div> Author: {{this.author}} </div>
        <div> ID: {{this._id}} </div>

      </article>

    {{/each}}

  </div>

  </form>

</section>

<section class="update">
  <h3> Update </h3>

  <form action="/update" method="post">


    <div>
      <label> ID </label>
      <br>
      <input type="text" name ="id">

    </div>

    <div>
      <label> Title </label>
      <br>
      <input type="text" name="title">

    </div>

    <div>
      <label> Content </label>
      <br>
      <input type="text" name="content">

    </div>

    <div>
      <label> Author </label>
      <br>
      <input type="text" name="author">

    </div>

    <button type="submit"> Insert </button>

  </form>

</section>


<section class="delete">
  <h3> Delete </h3>

  <form action="/delete" method="post">

    <div>
      <label> ID </label>
      <br>
      <input type="text" name="id">

    </div>


    <button type="submit"> Delete </button>

  </form>

</section>
