<!DOCTYPE html>

<html>
  <head lang="en">
    <title> {{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet/style.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
